@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

* {
  min-width: 0;
}

.focus-shadow {
  box-shadow: 0px 0px 0px 4px #606df4;
}

.slick-list {
  overflow-x: visible !important;
}

.slick-list::-webkit-scrollbar {
  display: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.slick-list {
  overflow: hidden !important;
  width: 100%;
}
.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-track {
  display: flex !important;
}
